/* recursos: selector global */
* {
  box-sizing: border-box; /*cuando trabajo con elementos de caja, el border en vez de sumar restan */
  box-sizing: border-box;
  margin: 0; /* todos los recursos que tienen margen los elimino*/
  padding: 0; /* todos los reursos que tienen padding los elimino * etiquetas 8 px*/
}

.container{
  width: 100%;
  margin: 0 auto;
}
ul {
  list-style-type: none; /* no quiero viñetas*/
}

a {
  text-decoration: none;
}
img {
  width: 100%; /*toma el 100% del newport*/
  

}

.encabezado {
  text-align: center;
}
nav.menuIzquierdo ul li a,
nav.menuDerecho ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem; /*1rem = 16px*/
  color: black;
}

nav.menuIzquierdo ul li a:hover,
nav.menuDerecho ul li a:hover {
  text-decoration: underline;
  color: blue;
}

/*media query para los tipos de dispositivo*/

@media (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-between;
   width: 100%;
  }
  .menuIzquierdo {
    width: 45%;
  }
  .menuDerecho {
    width: 45%;
  }
  .opcionesDerecho {
    display: flex;
    justify-content: space-around;
  }
  .opcionesIzquierdo {
    display: flex;
    justify-content: space-around;
  }
  nav.menuIzquierdo ul li a,
  nav.menuDerecho ul li a {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  .encabezado {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 25%;
  }
  .menu {
    width: 80%;
  }
}
/* Footer Color del footer degradado*/
#footer {
    background-image: linear-gradient(60deg, #187f69 10%, #485563 80%);

}
/*Diseño de footer*/
#footer .footer {
  min-height: 100px;
  flex-direction: column;
  padding-top: 1%;
  padding-bottom: 1%;
 
    
}
/*Color de texto de footer*/
#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 20px;
  margin-bottom: 10px;
}
/*Iconos de redes sociales*/
#footer .social-icon {
  display: flex;
  margin-bottom: 5px;
}
/*Tamaño y distacia entre los botones*/
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 10px;
  margin-bottom: 2%;
}

/*Derechos de autor*/
#footer p {
  color: white;
  font-size: 1.3rem;
}

/* End Footer */
/* Media Query For Tablet */