
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>    

 <!-- Footer -->
 <footer>
    <section style="border: 2px solid rgb(0, 255, 255);" id="footer">
      <div class="footer container">
        <div class="brand">
          <h1><span>V</span>ivero <span>N</span>aturalia</h1>
        </div>
        <h2>Siguenos en redes Sociales</h2>
        <div class="social-icon">
         
          <div class="social-item">
            <a href="http://www.facebook.com" target="_blank"><img src="./img/redes_sociales/facebook.png" /></a>
          </div>
 
          <div class="social-item">
            <a href="http://www.instagram.com" target="_blank"><img src="./img/redes_sociales/instagram.png" /></a>
          </div>
          <div class="social-item">
            <a href="https://twitter..com" target="_blank"><img src="./img/redes_sociales/twitter.png" /></a>
          </div>
 
          <div class="social-item">
            <a href="https://web.whatsapp.com" target="_blank"><img src="./img/redes_sociales/whatsapp.png" /></a>
          </div>
        </div>
 
        <p>Copyright © 2022 Vivero Naturalia. All rights reserved</p>
      </div>
 
    </section>
  </footer>
  <!-- End Footer -->
 
  <!-- <script src="./app.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
 </body>
 
 </html> 